@media screen and (max-width:1140px){
    .section__wrapper {
        padding: 0 16px;
    }
    .card:last-child{
        grid-column: 1 / -1;
    }
    section.section.section__description .section__wrapper{
        margin-top: 0;
    }
    .loyalty {
        margin-left: 22px;
    }
}
@media screen and (max-width:1024px){
    section.section.section__checkout .section__wrapper {
        flex-direction: column;
    }
    .checkout__products {
        margin-bottom: 64px;
    }
    .checkout__cart__buttons {
        justify-content: space-around;
    }
    .checkout__form {
        margin-left: 0;
        justify-content: space-around;
    }
    .checkout__form__total{
        margin-top: 38px;
    }
    .checkout__form__details{
        margin-bottom: 0;
    }
}
@media screen and (max-width:800px){
    .grid{
        gap: 16px;
    }
}
@media screen and (max-width:768px){
    .navbar__wrapper{
        padding: 0 32px;
    }
    .important__items{
       flex-direction: column;
   }
   .heading {
        font-size: 24px;
        line-height: 29px;
	}
	.heading-big {
        font-size: 44px;
        line-height: 53px;
	}
	.section__intro {
        height: 370px;
	}
	.section__intro__image {
        height: 370px;
	    background-position-x: 60px;
	}
    .section__categories__line {
        gap: 20px;
    }
    .section__category {
        width: 232px;
        height: 167px;
    }
    .section__category-accesories {
        width: 100%;
        margin-top: 20px;
    }
    .subscription__blocks{
        flex-direction: column;
        align-items: center;
    }
    .subscription__block-left {
        margin-bottom: 48px;
    }
    .filter__column__more {
        justify-content: flex-end;
    }
    .filter__column__more .filter__column {
        margin-left: 28px;
        margin-right: 0;
    }
    .section__featured {
        margin-bottom: 64px;
    }
    .loyalty__heading, .loyalty__text, .loyalty__list{
        font-size: 16px;
        line-height: 19px;
    }
}
@media screen and (max-width:1024px) and (min-width:480px){
    .checkout__form {
        flex-direction: row;
    }
    .checkout__form__total{
        margin-left: 16px;
    }
}
@media screen and (max-width:600px){
	.section__intro__image {
    display: none;
	}
	.section.section__intro .section__wrapper {
        align-items: center;
        flex-direction: column;
        height: 100%;
	}
    .registration__block{
        flex-direction: column;
    }
    .registration__form {
        margin-bottom: 40px;
    }
    .loyalty {
        margin: 0;
    }
}
@media screen and (max-width:480px){
    .overlay .menu{
        width: 100%;
    }
    .hide-mobile{
        display: none;
    }
    .heading {
        font-size: 20px;
        line-height: 24px;
    }
    .heading-big {
        font-size: 38px;
        line-height: 46px;
    }
    .section__categories__line{
        flex-direction: column;
    }
    .section__category{
        height: 247px;
        width: 100%;
    }
    .section__category-women, .section__category-kids, .section__category-men, .section__category-accesories{
        background-size: cover;
    }
    .section__category.section__category-accesories {
        height: 111px;
    }
    .section__category-women:hover, .section__category-kids:hover, .section__category-men:hover, .section__category-accesories:hover {
        background-size: auto 120%;
    }
    .section__categories {
        margin-bottom: 65px;
    }
    p.subscription__quote__text {
        font-size: 18px;
        line-height: 22px;
    }
    p.subscription__subtitle {
        font-size: 14px;
    }
    .subscription__form__input{
        width: 220px;
    }
    .subscription__form__button{
        width: 90px;
    }
    .footer__blocks {
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer__block__links {
        margin-bottom: 40px;
    }
    .footer__block__info{
        margin-bottom: 0;
    }
    .navbar__wrapper{
        padding: 0 16px;
    }
    .filter__main .filter__heading{
        display: none;
    }
    .filter__main .filter__icon {
        margin-left: 0;
    }
    .filter__heading{
        font-size: 12px;
    }
    .filter__column__more .filter__icon {
        font-size: 12px;
    }
    .filter__column__more .filter__column {
        margin-left: 23px;
    }
    .filter__column__more .filter__column:first-child {
        margin: 0;
    }
    .header__info {
        flex-direction: column;
        align-items: center;
    }
    .header__info__name {
        margin-bottom: 32px;
    }
    .grid{
        grid-template-columns: repeat(auto-fill, 350px);
    }
    .carousel_image{
        max-height: 450px;
    }
    .checkout__product__details{
        padding: 17px 14px 32px;
    }
    .checkout__product__details__heading{
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 25px;
        max-width: 140px;
    }
    .checkout__product__details__info{
        margin-bottom: 6px;
        font-size: 14px;
        line-height: 17px;
    }
    .checkout__product__image {
        width: 144px;
    }
    .checkout__cart__buttons{
        gap:9px;
    }
    .checkout__cart__button{
        padding: 9px 18px;
        width: 100%;
        font-size: 12px;
    }
    .checkout__form__address__input, .checkout__form__total{
        width: 100%;
    }
}
@media screen and (max-width: 360px){
    .carousel_image {
        max-height: 400px;
    }
    .checkout__form__total__button{
        max-width: 100%;
        font-size: 12px;
    }

}