*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}
body{
  margin: 0;
}
.navbar{
  width: 100%;
  height: 75px;
  background-color: #222;
  position: fixed;
  z-index: 3;
  top: 0;
}
.navbar__wrapper,.section__wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1140px;
  padding-top: 15px;
}
.navbar__wrapper{
  display: flex;
  justify-content: space-between;
}
.section__wrapper{
  padding: 0;
}
.navbar__icons{
  display: flex;
}
.navbar__icons-left{
  justify-content: flex-start;
}
.navbar__icons-right{
  justify-content: flex-end;
}
.navbar__icon{
  margin: auto 17px;
  cursor: pointer;
}
.navbar__icons:first-child{
  margin-left: -17px;
}
.navbar__icons:last-child{
  margin-right: -17px;
}
section{
  width: 100%;
}
.section__intro{
  height: 764px;
  background: #F1E4E6;
  margin-top: 75px;
}
.section.section__intro .section__wrapper {
  display: flex;
}
.section__intro__image {
  background: url(img/main-man-new.png) no-repeat;
  height: 764px;
  width: 40%;
  flex-grow: 1;
  background-size: contain;
}

.heading {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  font-size: 32px;
  line-height: 38px;
  border-left: 12px solid #f26376;
  padding-left: 16px;
}
.section__intro__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}
.heading-big{
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  line-height: 58px;
}
.heading-pink{
  color: #F16D7F;
}
.section__categories{
  background: #fff;
  margin-top: 65px;
  margin-bottom: 96px;
}
.section__category{
  width: 360px;
  height: 260px;
  position: relative;
  display: flex;
  text-decoration: none;
}
.section__categories__line {
  display: flex;
  justify-content: space-between;
  gap:30px;
}
.section__category-women{
  background: linear-gradient(rgba(33, 22, 22, 0.7),rgba(33, 22, 22, 0.7)), url(img/category_women.jpg);
}
.section__category-men{
  background: linear-gradient(rgba(33, 22, 22, 0.7),rgba(33, 22, 22, 0.7)), url(img/category_men.jpg);
}
.section__category-kids{
  background: linear-gradient(rgba(33, 22, 22, 0.7),rgba(33, 22, 22, 0.7)), url(img/category_kids.jpg);
}
.section__category__mask {
  position: absolute;
  background-color: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
}
.section__category__name {
  position: relative;
  margin: auto;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.section__category__name span{
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.section__category-accesories{
  width: 100%;
  margin-top: 30px;
  height: 180px;
  background: linear-gradient(rgba(33, 22, 22, 0.7),rgba(33, 22, 22, 0.7)), url(img/category_accesories.jpg);
}
.section__category-women, .section__category-kids, .section__category-men, .section__category-accesories{
  background-position: center;
  background-size: auto 100%;
  transition: background-size 0.2s ease-in;
}
.section__category-women:hover, .section__category-kids:hover, .section__category-men:hover, .section__category-accesories:hover{
  background-size: auto 110%;
}
.section__featured{
	margin-bottom: 95px;
	background: #fff;
}
/*.featured__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}*/
.card__info {
  width: 100%;
  height: 160px;
  padding: 24px 20px 20px;
  background: #f8f8f8;
}
.card {
  width: 100%;
  max-width: 360px;
  border-radius: 0;
  border: none;
  margin: 0 auto;
}
.card__picture{
  width: 100%;
  position: relative;
}
.card__img{
  max-width: 100%;
  height: auto;
  align-self: flex-start;
}
.card__hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3 ease;
}
.card__picture:hover .card__hover{
  visibility: visible;
  opacity: 1;
}
.card__btn{
  border: 1px solid #fff;
  color: #fff;
  outline: none;
  background: none;
  padding: 10px 16px 9px 13px;
  font-size: 14px;
}
.card__btn__icon{
  margin-right: 11px;
}
.card__btn:hover{
  border-color: #f16d7f;
  background-color: #f16d7f;
}
h2{
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}
h4{
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
p{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
	text-align: left;
	color: #5D5D5D;
}
.item__subtitle{
	color: #9F9F9F;
	text-align: center;
	margin: 6px 0 48px;
}
.card__text{
margin: 13px 0 18px;
}
.card__price{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.featured__button{
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding: 14px;
  border: 1px solid #FF6A6A;
  width: 211px;
  margin: 18px auto 0;
  text-decoration: none;
}
.featured__button:hover{
  background: #F16D7F;
  color: #fff;
}
.section__important{
	background: #222224;
	padding:104px 0;
}
.important__items {
  display: flex;
  justify-content: space-between;
}
.important__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 360px;
  align-self: center;
}
p.important__item__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  text-align: center;
  margin: 28px 0 16px;
}
p.important__item__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}
.subscription__blocks {
  padding-top: 86px;
  padding-bottom: 126px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.subscription__block-left {
  text-align: center;
}
p.subscription__quote__text {
  width: 360px;
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}
.subscription__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
  margin-bottom: 32px;
}
.subscription__subtitle-bold{
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}
.subscription__form {
  display: flex;
}
.subscription__form__input {
  background: #E1E1E1;
  padding: 7px 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 36px;
  color: #222224;
  opacity: 0.67;
  width: 256px;
  box-sizing: border-box;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.subscription__form__button {
  background: #F16D7F;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 7px;
  width: 100px;
  cursor: pointer;
  transition: background 0.3s ease-in;
}
.subscription__form__button:hover {
  background: #f15369;
}
.section__subscription {
  background: url(img/subscribe_back.jpg) no-repeat;
  background-size: cover;
}
footer {
  background: #222224;
  padding: 30px 0;
}
.footer__blocks {
  display: flex;
  justify-content: space-between;
	flex-wrap: wrap;
}
.footer__block__info {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.footer__block__links {
  display: flex;
}
.footer__social__link{
  width: 32px;
  height: 32px;
  background: #fff;
  display: flex;
  margin-left: 7px;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
}
.footer__social__link img{
	margin: auto;
}
.footer__social__link:hover{
  background: #F16D7F;
  color: #fff;
}
/*header на странице каталога*/
.section__header{
  margin-top: 75px;
  padding: 60px 0;
  background: #F8F3F4;
}
.header__info{
  display: flex;
  justify-content: space-between;
}
.header__info__name{
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
}
.breadcrumb__link{
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
}
.breadcrumb__link-active{
  color: #F16D7F;
  font-weight: 700;
}
.section__filter{
  padding: 51px 0 35px;
}
.filter__heading{
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.filter__column__more .filter__heading {
  font-weight: normal;
  color: #6F6E6E;
}
.filter__column__more .filter__icon{
  color: #6F6E6E;
}
.filter__icon{
  margin-left: 10px;
}
.pages {
  margin: 0 auto;
  text-align: center;
  padding: 15px 16px;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  width: 284px;
}
.pages__links {
  display: flex;
  justify-content: space-between;
}
.page__links__arrow{
  color: #000;
  position: relative;
  top: -1px;
}
.page__links__arrow:hover{
  color: #F16D7F;
}
.pages__links::before:hover{
  color: #fff;
}
.page__link{
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #c9c9c9;
}
.page__link-active{
  color: #EF5B70;
}

/*menu*/
.menu__heading {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.menu__heading__items {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}
.menu__heading__items {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}
ul.menu__items {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  list-style: none;
  padding: 0;
  margin-left: 20px;
  margin-bottom: 20px;
}
ul.menu__items li {
  margin-bottom: 11px;
}
.overlay{
  position: fixed;
  top: 75px;
  left: 0;
  height: calc(100vh - 75px);
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  width: 100%;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  pointer-events: none;
}
.overlay .menu{
  max-height: calc(100vh - 75px);
  height: 100%;
  background: #fff;
  position: absolute;
  right: -232px;
  width: 232px;
  transition: right 0.2s ease-in;
  padding: 37px 34px;
}
.overlay .menu .close{
  background: none;
  padding: 0;
  position: absolute;
  top: 16px;
  right: 16px;
  height: 12px;
  border-style: none;
  font-size: 12px;
  text-align: center;
  width: 12px;
}
.overlay.open{
    pointer-events: all;
    opacity: 1;
}
.overlay.open .menu{
  right:0;
}
/*carousel*/
.carousel-item{
  background: #f7f7f7;
}
.carousel_image{
  height: 100vh;
  margin: 0 auto;
  padding: 30px;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  background-image: none;
  background-color: rgba(42, 42, 42, 0.15);
  font-size: 21px;
  width: 47px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-control-next{
  justify-content: flex-end;
}
.carousel-control-prev{
  justify-content: flex-start;
}
section.section.section__slider {
  max-width: 100vw;
  overflow: hidden;
}
.carousel-control-next-icon:hover .carousel__control, .carousel-control-prev-icon:hover .carousel__control{
  color: #F16D7F;
}
/*product description*/
.section__description{
  margin-bottom: 130px;
}
section.section.section__description .section__wrapper {
  background: #fff;
  position: relative;
  margin-top: -64px;
  padding: 64px;
  border: 1px solid #EAEAEA;
}
.section__description__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 555px;
  margin: 0 auto;
}
.section__description__subtitle{
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
} 
#section__description__line {
  width: 63px;
  height: 3px;
  background: #EF5B70;
  margin-bottom: 12px;
}
.section__description__title{
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}
.section__description__text{
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin-bottom: 32px;
}
.section__description__price{
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 65px;
}
.section__description__hr{
  width: 641px;
  color: #a0a0a0;
  margin-bottom: 65px;
  max-width: 100%;
}
.cart__button{
  margin-top: 48px;
  width: 211px;
  border: 1px solid #FF6A6A;
  height: 47px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F26376  ;
}
.cart__button:hover{
  background: #F26376;
  color:#fff;
}
.filter__column{
  height: 30px;
  position: relative;
}
::-webkit-details-marker{
  display: none;
}
details > summary {
  list-style: none;
}
.filter{
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  max-height: 26px;
  transition: max-height 0.3s ease-in, box-shadow 0.3s ease-in;
  overflow: hidden;
}
.filter__main{
  position: relative;
}
.filter:hover .filter__summary, .filter__category:hover .filter__category__summary{
  color: #EF5B70;
}
.filter__summary{
  outline: none;
  transition: color 0.3s ease-out;
}
.filter__fakesummary{
  opacity: 0;
  visibility: hidden;
}
.filter[open]{
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 360px;
  max-height: 530px;
  z-index: 2;
  top: -13px;
  left: -16px;
  padding-top: 13px;
  padding-left: 16px;
}
.filter__category{
  margin-top: 16px;
  margin-bottom: 18px;
}
.filter__category__summary{
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  padding: 11px;
  transition: color 0.3s ease-out;
}
.filter[open] .filter__summary, .filter__category[open] .filter__category__summary{
  color: #EF5B70;
}
.filter__category__details{
  list-style: none;
  padding-left: 17px;
  margin: 24px 0;
}
.filter__category__details li{
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 11px;
}
.filter__column__more{
  display: flex;
  justify-content: flex-start;
}
.filter__column__more .filter[open]{
  width: 200px;
  position: absolute;
}
.filter__column__more .filter__column {
  margin-right: 28px;
}
.filter__details__checkbox{
  padding: 10px;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}
.filter__btns {
  display: flex;
}
.filter__btns .filter__column {
  margin-right: 23px;
}
.filter__btns .filter[open] {
  width: 200px;
  position: absolute;
}
.checkbox>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.checkbox>span::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #EBEBEB;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.checkbox{
  margin-bottom: 10px;
}
.checkbox>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: rgb(239 91 114);
}
.checkbox>input:not(:disabled):active+span::before {
  background-color: rgb(239 91 114);
  border-color: rgb(239 91 114);
}
.checkbox>input:focus+span::before {
  box-shadow: 0 0 0 0.2rem rgba(239, 91, 114, 0.25);
}
.checkbox>input:focus:not(:checked)+span::before {
  border-color: rgb(239 91 114);
}
.checkbox>input:checked+span::before {
  border-color: rgb(239 91 114);
  background-color: rgb(239 91 114);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.checkbox>input:disabled+span::before {
  background-color: #e9ecef;
}

/*Cart*/
.section__checkout .section__wrapper{
  padding-top: 96px;
  padding-bottom: 128px;
  display: flex;
}
.checkout__products {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.checkout__product {
  display: flex;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  margin-bottom: 40px;
}
.checkout__product__image {
  width: 262px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}
.checkout__product__image-1 {
  background-image: url(img/item_8.jpg);
}
.checkout__product__image-2 {
  background-image: url(img/item_7.jpg);
}
.checkout__product__details {
  padding: 22px 31px 62px;
  background: #fff;
  width: 100%;
}
.checkout__product__details__info{
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-bottom: 6px;
}
.checkout__product__details__heading {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
  max-width: 262px;
}
span.checkout__product__details__price {
  color: #F16D7F;
}
.checkout__product__details__cross {
  position: absolute;
  top: 28px;
  right: 22px;
  font-size: 18px;
  color: #575757;
  cursor: pointer;
}
.checkout__product__details__cross:hover {
  color: #f16d7f;
}
.checkout__cart__buttons {
  display: flex;
  justify-content: space-between;
}
.checkout__cart__button {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background: #fff;
  padding: 17px 40px;
  border: 1px solid #A4A4A4;
  transition: all 0.2s ease-in;
}
.checkout__cart__button:hover, .checkout__form__address__button:hover {
  background: #f16d7f;
  color: #fff;
}
.checkout__form {
  display: flex;
  flex-direction: column;
  margin-left: 128px;
}
.checkout__product__quantity{
  width: 43px;
  height: 24px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  margin-left: 24px;
  border: 1px solid #EAEAEA;
}
.checkout__form__details {
  display: flex;
  flex-direction: column;
  margin-bottom: 57px;
}
.checkout__form__address {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}
.checkout__form__address__input {
  margin-bottom: 20px;
  border: 1px solid #A4A4A4;
  padding: 13px 17px;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  width: 360px;
  font-weight: 300;
}
input.checkout__form__address__input::placeholder {
  color: #b1b1b1;
}
.checkout__form__address__button{
  width: 100px;
  height: 34px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  background: #fff;
  border: 1px solid #A4A4A4;
  margin-top: 24px;
  transition: all 0.2s ease-in;
}
.checkout__form__total {
  background: #F5F3F3;
  padding: 39px 34px;
  width: 360px;
  height: 214px;
}
.checkout__form__total_subtotal {
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-align: right;
}
.checkout__form__total_grantotal {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-align: right;
}
.checkout__form__total hr {
  color: #d2d2d2;
}
.checkout__form__total__button {
  background: #F16D7F;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 15px 42px;
  border: none;
  transition: all 0.2s ease-in;
}
.checkout__form__total__button:hover {
  background: none;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
/*grid*/
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  justify-content: center;
  gap: 30px;
  margin-bottom: 48px;
}
/*registration*/
.registration__block{
  display: flex;
  padding: 64px 0 96px;
}
.registration__form {
  max-width: 360px;
}
.registration__form__heading {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  font-weight: 300;
  margin-bottom: 20px;
}
.registration__form__radio__label {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-right: 20px;
}
.registration__form__radio{
  margin: 31px 0 33px;
}
.registration__form__radio__label>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.registration__form__radio__label>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.registration__form__radio__label>span::before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.registration__form__radio__label>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #F16D7F;
}
.registration__form__radio__label>input:not(:disabled):active+span::before {
  background-color: #F16D7F;
  border-color: #F16D7F;
}
.registration__form__radio__label>input:checked+span::before {
  background-color: #F16D7F;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='26' xmlns='http://www.w3.org/2000/svg'%3e%3cg%3e%3cg display='none' overflow='visible' y='0' x='0' height='100%25' width='100%25' id='canvasGrid'%3e%3crect fill='url(%23gridpattern)' stroke-width='0' y='0' x='0' height='100%25' width='100%25'/%3e%3c/g%3e%3c/g%3e%3cg%3e%3ctitle%3eLayer 1%3c/title%3e%3cellipse ry='12' rx='12' id='svg_2' cy='12.75' cx='12.75' fill='%23fff'/%3e%3c/g%3e%3c/svg%3e");
}
.registration__form__radio__label>input:disabled+span::before {
  background-color: #e9ecef;
}
.registration_form_text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-bottom: 40px;
}
.registration__form__button {
  background: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
  padding: 16px 29px;
  transition: all 0.3s ease-in;
}
.registration__form__button:hover {
  background: #fff;
  border: 1px solid #f16d7f;
  color: #f16d7f;
}
.registration__form__button__text:after {
  content: url(img/arrow.svg);
  margin-left: 20px;
}
.registration__form__button:hover .registration__form__button__text:after{
  content: url(img/arrow_pink.svg);
  }
.loyalty {
  margin-left: 128px;
}
.loyalty__heading {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-align: left;
  margin-bottom: 24px;
}
.loyalty__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 21px;
}
.loyalty__list {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding: 0;
}
.loyalty__list li {
  margin-bottom: 16px;
  list-style: none;
}
ul.loyalty__list li:before {
  content: url(img/check.svg);
  margin-right: 23px;
}